<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.googlecode.chartdroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/chartdroid_icon" android:label="@string/app_name">
        <activity android:name=".Demo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        
        <activity android:name=".ChartPanelActivity" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
		    	<action android:name="com.googlecode.chartdroid.intent.action.PLOT" />
		    	<category android:name="android.intent.category.DEFAULT" />
		    	<category android:name="com.googlecode.chartdroid.intent.category.PIE_CHART" />
		    </intent-filter>
	    </activity>


        <activity android:name=".calendar.Calendar">
	    </activity>
        
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 