<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.googlecode.chartdroid"
      android:versionName="1.9.10" android:versionCode="17">
    <application android:icon="@drawable/chartdroid_icon" android:label="@string/app_name">

		<!-- Intent filters for version 1.x of ChartDroid -->
        <activity android:name=".pie.ChartPanelActivity" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
		    	<action android:name="com.googlecode.chartdroid.intent.action.PLOT" />
		    	<category android:name="android.intent.category.DEFAULT" />
		    	<category android:name="com.googlecode.chartdroid.intent.category.PIE_CHART" />
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.data"/>
		    </intent-filter>
	    </activity>



		<provider android:name="com.googlecode.chartdroid.provider.ImageFileContentProvider"
		      android:authorities="com.googlecode.chartdroid.image"
			android:label="ChartDroid Screenshot"/>
        
        



		<!-- EXPERIMENTAL -->
        <activity android:name=".calendar.activity.NewCalendarActivity">
        
            <intent-filter>
		    	<action android:name="com.googlecode.chartdroid.intent.action.PLOT" />
		    	<category android:name="android.intent.category.DEFAULT" />
		    	<category android:name="com.googlecode.chartdroid.intent.category.CALENDAR" />
		    </intent-filter>
        
	        <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.PICK"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.event"/>
			</intent-filter>
	    </activity>



        <activity android:name=".calendar.activity.OldCalendarActivity">
        
            <intent-filter>
		    	<action android:name="com.googlecode.chartdroid.intent.action.PLOT" />
		    	<category android:name="android.intent.category.DEFAULT" />
		    	<category android:name="com.googlecode.chartdroid.intent.category.CALENDAR" />
		    </intent-filter>
        
	        <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.PICK"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.event"/>
			</intent-filter>
	    </activity>
        
		<activity android:name=".calendar.activity.EventListActivity" android:theme="@android:style/Theme.Translucent"/>

        
        
        
        
		<!-- ========================================================== -->
		<!-- Intent filters for version 2.x of ChartDroid -->
		
        <!-- Timeline Charts -->
        <activity android:name="org.achartengine.activity.TimelineActivity" 
        	android:label="Time Chart" android:icon="@drawable/icon_type_line">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.timeline"/>
		    </intent-filter>
        </activity>
        
        <!-- XY Charts -->
        <activity android:name="org.achartengine.activity.LineChartActivity" 
        	android:label="Line Chart" android:icon="@drawable/icon_type_line">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.XY_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
        <activity android:name="org.achartengine.activity.BubbleChartActivity" 
        	android:label="Bubble Chart" android:icon="@drawable/icon_type_scatter">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.XY_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
        <activity android:name="org.achartengine.activity.ScatterChartActivity" 
        	android:label="Scatter Chart" android:icon="@drawable/icon_type_scatter">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.XY_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
        <activity android:name="org.achartengine.activity.BarChartActivity" 
        	android:label="Bar Chart" android:icon="@drawable/icon_type_bar">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.XY_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
        
        
        
        <!-- Radial Charts -->
        <activity android:name="org.achartengine.activity.DonutChartActivity" 
        	android:label="Donut Chart" android:icon="@drawable/icon_type_donut">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>

            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.PIE_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
         <activity android:name="org.achartengine.activity.PieChartActivity" 
        	android:label="Pie Chart" android:icon="@drawable/icon_type_pie">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
		    
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="com.googlecode.chartdroid.intent.category.PIE_CHART" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.com.googlecode.chartdroid.graphable"/>
		    </intent-filter>
        </activity>
        
        
        
        
        
        
        <activity android:name="com.googlecode.chartdroid.activity.prefs.ChartDisplayPreferences"
                  android:label="Choose series"
                  android:theme="@style/Theme.DarkerWallpaperSettings">
        </activity>
        
        <activity android:name="org.achartengine.activity.SeriesPickerActivity"
                  android:label="Choose series"
                  android:theme="@style/Theme.DarkerWallpaperSettings">
        </activity>
        
        
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 